tr.myhdr > th {
  background-color: #cfc;
}

table, th, td {
  border: 1px solid #888;
  border-collapse: collapse;
}

.col-style {
  width: 20em;
}

.cell-style {
  height: 3em;
  vertical-align: top;
}

::ng-deep .ui-listbox{
  width: 100%;
  height: 10em;
  overflow-y: scroll;
}

::ng-deep .ui-listbox-item {
  font-size: 8pt;
}

::ng-depp ul {
}

th.col-sun {
  background-color: #f5b1aa;
}

th.col-sat {
  background-color: #c1e4e9;
}

th.col-weekday {
  background-color: #e0ebaf;
}

td {
  background-color: #d4dcda;
}
