.content {
    background-color: #E6CDE3;
}

.target {
    background-color: #C1E4E9;
}

.borderd {
  border: 1px solid #fff;
}

COL_WIDTH = 24px;
COL_BODY_WIDTH = 200px;
COL_HEIGHT = 24px;

.cl-icon {
  width: COL_WIDTH;
  height: COL_HEIGHT;
  text-align: center;
}

.cl-body {
  width: COL_BODY_WIDTH;
  height: COL_HEIGHT;
}
.cl-parent {
  width: COL_WIDTH;
  height: COL_HEIGHT;
}
.cl-row {
  width: 100%;
  display: flex;
}

div.cl-row:hover {
    background-color: #E6CDE3;
}

div.cl-row-selected {
    background-color: #C5E4ED;
}

.cl-list {
  width: COL_WIDTH * 2 + COL_BODY_WIDTH;
  height: 100%;
}

.cl-item-hover {
    background-color: #FAD689;
}
